@model TicketSales.Messages.Commands.SaveConcertCommand
@{
    ViewData["Title"] = "Add new concert";
}

<div class="text-center">
    <h1 class="text-left pb-5">Add new concert</h1>
    <form action="/concert/AddConcert" method="post">
        <div class="row">
            <div class="col-md-12 pb-3">
                <span class="col-md-6 float-left text-left">Concert Name</span>
                @Html.TextBoxFor(Model => Model.Name, new { @class = "col-md-6", placeholder = "Concert name" })
            </div>
            <div class="col-md-12 pb-3">
                <span class="col-md-6 float-left text-left">Number of tickets</span>
                @Html.TextBoxFor(Model => Model.NumberOfTickets, new { @class = "col-md-6", placeholder = "Number of tickets", @type="number", @min = "0" })
            </div>
        </div>
        <div class="row mt-3 mr-1 float-right"><input class="btn btn-primary" type="submit" value="Save" /></div>
    </form>
</div>
